body {
  overflow-x: hidden;
}

.web {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 99;
  img {
    width: 150px;
  }
}

.head {
  text-align: center;
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  a {
    text-decoration: none;
  }
  h1 {
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 3.5em;
    &:hover {
      opacity: 0.5;
    }
  }
}

.option {
  display: flex;
  justify-content: center;
  p {
    color: rgb(216, 216, 216);
    padding-bottom: 4em;
    opacity: 0.7;
    cursor: pointer;
  }
}

.tokyo-content {
  .content-head {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: rgb(66, 66, 66);
    opacity: 0.7;
  }
  .content-sub-head {
    color: rgb(216, 216, 216);
    padding-bottom: 1.5em;
    text-align: center;
    a {
      text-decoration: none;
      color: rgb(216, 216, 216);
      &:hover {
        color: black;
        opacity: 0.5;
      }
    }
  }
  a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    img {
      text-align: center;
      &:hover {
        opacity: 0.85; 
      }
    }
  }
  .more {
    padding: 5em;
    text-align: center;
    opacity: 0.3;
    font-size: 0.8em;
    a {
      color: rgb(48, 48, 48);
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

footer {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 41px;
  a {
    color: rgb(25, 25, 25);
    text-decoration: none;
  }
  .fa {
    font-size: 25px;
    padding: 0.3em;
    &:hover {
      color: black;
      opacity: 0.5;
    }
  }
  .foot-txt {
    color: rgb(168, 168, 168);
  }
}

.tokyo-content-ct {
  text-align: center;
  img {
    width: 42%;
    border-radius: 50%;
    margin-bottom: 25px;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .ct-2 {
    margin-top: 1em;
    padding-bottom: 4em;
  }
}

.category {
  .head {
    text-align: center;
    font-size: 0.5em;
  }
  .cat-head {
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.8em;
    opacity: 0.8;
  }
  .cat-sub-head {
    text-align: center;
    opacity: 0.3;
    padding-bottom: 1em;
    a {
      text-decoration: none;
      color: rgb(33, 37, 41);
      &:hover {
        color: black;
        opacity: 0.5;
      }
    }
  }
  .more {
    text-align: center;
    padding: 3em;
    font-size: 0.8em;
    opacity: 0.3;
    a {
      text-decoration: none;
      color: rgb(48, 48, 48);
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .content-ct {
    padding-left: 5em;
    padding-right: 5em;
  }
  .blog-content {
    .cont-details {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}

@media only screen and (min-width: 980px) {
  .category {
    padding-left: 20em;
    padding-right: 20em;
  }
  .cat-content {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 1400px) {
  .tokyo-content {
    padding-left: 12em;
    padding-right: 12em;
  }
  .content-ct {
    padding-left: 12em;
    padding-right: 12em;
  }
  .tokyo-content-ct {
    padding-left: 25em;
    padding-right: 25em;
  }
  .blog-content {
    .cont-details {
      padding-left: 10em;
      padding-right: 10em;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .tokyo-content {
    padding-left: 5em;
    padding-right: 5em;
  }
  .tokyo-content-ct {
    padding-left: 10em;
    padding-right: 10em;
  }
}


